<html ng-app="moviePicker">
<head>
<title>Movie Picker</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css" />

<!-- Load external scripts, falling back to local copies if unreachable or offline -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="assets/js/jquery-2.1.4.min.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
<script type="text/javascript">window.angular || document.write('<script src="assets/js/angular-1.3.16.min.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">typeof $().modal == 'function' || document.write('<script src="assets/js/bootstrap-3.3.4.min.js"><\/script>')</script>

<!-- https://code.google.com/p/jquery-csv/wiki/API -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script type="text/javascript">window.jQuery.csv || document.write('<script src="assets/js/jquery.csv-0.71.min.js"><\/script>')</script>
<script type="text/javascript">

var moviePicker = angular.module('moviePicker',[]);

moviePicker.controller('moviePickerController', function($scope){
  var online = navigator.onLine;

  /**
  * @function - helpMeChooseOptions filters the list of movies for watching options, based on the provided criteria or anti-criteria (number of options, genre, runTime)
  */
  $scope.helpMeChooseOptions = function() {
    // $scope.movieOptionList = angular.copy($scope.movieList);
    $scope.movieOptionList = $.extend(true, [], $scope.movieList);
    var selectionsArray = [],
        antiSelectionsArray = [],
        option;

    for(option in $scope.options.antiSelections) {
      if($scope.options.antiSelections[option] === true) {
        antiSelectionsArray.push(option);
      }
    }

    for(option in $scope.options.selections) {
      if($scope.options.selections[option] === true) {
        selectionsArray.push(option);
      }
    }

    // Filter movie list by selections
    for(var i = $scope.movieOptionList.length - 1; i >= 0; i--) {
      var matched = false,
          removed = false,
          movie = $scope.movieOptionList[i];

      // Check if movie run time is less than time limit
      if(!removed) {
        if ($scope.options.timeLimit && parseInt(movie["Runtime (mins)"], 10) > $scope.options.timeLimit) {
          $scope.movieOptionList.splice(i, 1);
          removed = true;
        }
      }

      // Pick from only TV series or full-length features
      if(!removed) {
        if($scope.options.movieType && movie["Title type"] != $scope.options.movieType) {
          $scope.movieOptionList.splice(i, 1);
          removed = true;
        }
      }

      // Check if movie has a genre matching antiSelections
      if(!removed) {
        for(var j in antiSelectionsArray) {
          if (movie && movie.Genres.includes(antiSelectionsArray[j])) {
            $scope.movieOptionList.splice(i, 1);
            removed = true;
            break;
          }
        }
      }

      // Check if movie has a genre matching selections
      if(!removed) {
        if(selectionsArray.length) {
          for(var j in selectionsArray) {
            if (movie && movie.Genres.includes(selectionsArray[j])) {
              matched = true;
              break;
            }
          }
          if (!matched) {
            $scope.movieOptionList.splice(i, 1);
            removed = true;
          }
        }
      }
    }
  };

  /**
  * @function - helpMeChoose will automatically pick a random selection of movies from the watching options
  */
  $scope.helpMeChoose = function() {
    $scope.helpMeChooseOptions();
    $scope.movieChoices = [];
    var movieOptionList = $.extend(true, [], $scope.movieOptionList);

    // If there are not enough options, return entire list. Otherwise, choose a random selection
    if ($scope.options.choices < movieOptionList.length) {
      for(var i = 0; i < $scope.options.choices; i++) {
        var randomIndex = Math.floor(Math.random() * movieOptionList.length);
        $scope.movieChoices.push(movieOptionList[randomIndex]);
        movieOptionList.splice(randomIndex, 1);
      }
    } else {
      $scope.movieChoices = movieOptionList;
      console.warn("Too few options available--returning entire list");
    }

    if($scope.movieChoices.length) {
      if(online) {$scope.getMovieDetails();}
      $scope.showOptions($scope.movieChoices);
    } else {
      console.warn("No movies match the selected filters");
    }
  };

  /**
  * @function - getMovieDetails retrieves the movie poster for each of the movie selections
  */
  $scope.getMovieDetails = function() {
    $scope.movieDetailsloading = true;
    var promises = $($scope.movieChoices).map(function(index, movie) {
      if(movie.const) {
        return $.ajax({
          type: "GET",
          url: "http://www.omdbapi.com/?i=" + movie.const + "&plot=short&r=json",
          dataType: "json"
        });
      } else {
        return false;
      }
    });

    $.when.apply($, promises).then(function() {
      for (var i = 0; i < arguments.length; i++) {
        if(arguments[i][0].Poster && arguments[i][0].Poster !== "N/A") {
          $scope.movieChoices[i].poster = arguments[i][0].Poster;
        } else {
          $scope.movieChoices[i].poster = "assets/img/no-image.png";
        }
        if(arguments[i][0].Plot && arguments[i][0].Plot !== "N/A") {
          $scope.movieChoices[i].plot = arguments[i][0].Plot;
        } else {
          $scope.movieChoices[i].plot = "No plot";
        }
      }
      $scope.movieDetailsloading = false;
      $scope.$apply();
    });
  };

  $scope.removeOption = function(index) {
    $scope.movieChoices.splice(index, 1);
  };

  /**
  * @function - showOptions displays a list of movie options to pick from
  * @param "array" movieChoices - The movie choices randomly selected
  */
  $scope.showOptions = function(movieChoices) {
    // console.warn(movieChoices);
  };

  /**
  * @function - clearAll restores the original movie list and clears all limiting options
  */
  $scope.clearAll = function() {
    $scope.options = {
      choices: 3,
      selections: {},
      antiSelections: {}
    };
    $scope.movieChoices = [];
    $scope.movieOptionList = $scope.movieList;
  };

  /**
  * @function - order automatically sorts the movieList, based on which column heading was clicked on. Reverses sort order if the same column was clicked twice.
  * @param "string" predicate - The column heading that was clicked
  */
  $scope.order = function(predicate) {
    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
    $scope.predicate = predicate;
  };

  /**
  * @function - filterFunction automatically filters the movieList, based on what was entered into the search filter. Filters on both movie.Title and movie.Genre
  * @param "object" element - The movie that needs the filtering applied
  */
  $scope.filterFunction = function(element) {
    return (element.Title.match(/^Ma/) || element.Genre.match(/^Ma/)) ? true : false;
  };

  // TODO: Create external settings file to house all defaults

  $scope.movieDetailsloading = true;

  // Default limiting options
  $scope.options = {
    choices: 3,
    totalChoices: 5,
    movieType: "Feature Film",
    selections: {},
    antiSelections: {}
  };

  $scope.genres = [
    "action",
    "adventure",
    "animation",
    "comedy",
    "crime",
    "drama",
    "family",
    "fantasy",
    "horror",
    "mystery",
    "romance",
    "thriller",
    "western",
    "sci_fi",
    "war"
  ];

  // The columns that will be displayed in the movie list
  $scope.columns = {
    "Title": true,
    "Genres": true,
    "Runtime (mins)": true
  };

  $scope.movieLists = [
    "MyMovies- DVD.csv",
    "sample-imdb-export.csv"
  ];

  // List defaults
  $scope.list = $scope.movieLists[0];
  $scope.predicate = 'Title';
  $scope.reverse = false;

  $scope.loadList = function() {
    $.ajax({
        type: "GET",
        url: "lists/" + $scope.list,
        dataType: "text",
        success: function(data) {
          // Load IMDB export file into array of JSON objects
          $scope.movieOptionList = $scope.movieList = $.csv.toObjects(data);
          // Apply to get the page content to load
          $scope.$apply();
        },
        error: function(data) {
          console.error("Failed to load movie list: " + $scope.list);
        }
    });
  };

  $scope.$watch('$viewContentLoaded', function(){
    $scope.loadList();
  });

  $scope.$watch('list', function(){
    $scope.loadList();
  });

  $("#resultsModal")
  .on("shown.bs.modal", function() {
    document.activeElement.blur();
    $("#resultsModal .btn-primary").focus();
  });
})

.filter('reverse', function() {
  return function(items) {
    return items.slice().reverse();
  };
});
</script>
<style type="text/css">

/* Begin Bootstrap overrides */

@media (min-width: 768px) {
.modal.fade .modal-dialog,
.modal-dialog {
  margin: 18px auto;
  -webkit-transition: width 0.1s ease, transform 0.3s ease-out;
  transition: width 0.1s ease, transform 0.3s ease-out;
}

.modal-dialog.one-option {
  width: 260px;
}

.modal-dialog.two-options {
  width: 360px;
}

.modal-dialog.three-options {
  width: 490px;
}

.modal-dialog.four-options {
  width: 640px;
}

.modal-dialog.five-options {
  width: 768px;
}
}

body {
  margin: 0 auto;
  min-width: 625px;
  max-width: 1000px;
}

caption {
  background-color: #eee;
  border: 1px solid #000;
  color: #333;
  font-weight: bold;
  text-align: center;
}

legend {
  margin-bottom: 10px;
}

input[type=checkbox], input[type=radio] {
  cursor: pointer;
  margin: 4px 0 0 10px;
}

.table {
  width: auto;
}

/* End Bootstrap overrides */

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.advanced-filters {
  padding: 10px;
}

label:hover {
  color: #666;
  cursor: pointer;
}

.genre-filters,
.movie-options {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.inclusions,
.exclusions,
.movie-wrapper {
  margin: 0 auto;
}

.inclusions,
.exclusions {
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
}

.exclusions {
  border-left: 1px solid #999;
}

.movie-wrapper {
  width: 140px;
}

.inclusions .checked,
.genre-filters .inclusions .checked:hover {
  color: #00B630;
  font-style: normal;
}

.exclusions .checked,
.genre-filters .exclusions .checked:hover {
  color: #eb6800;
  font-style: normal;
}

.inclusions .inverse-checked,
.exclusions .inverse-checked {
  font-style: italic;
}

.filter-buttons {
  float: right;
}

.image-wrapper {
  height: 200px;
  overflow: hidden;
}

.image-wrapper:hover {
  cursor: no-drop;
}

.image-wrapper img {
  width: 100%;
}
</style>
</head>
<body ng-controller="moviePickerController">

  <form class="advanced-filters" data-ng-submit="helpMeChooseOptions()">
    <fieldset>
      <legend>Advanced Filtering:</legend>
      <div class="genre-filters">
        <div class="inclusions">
          <h4>Genre(s) to Include:</h4>
          <label data-ng-class="{'checked': options.selections[genre], 'inverse-checked': options.antiSelections[genre]}" title="Include {{genre}}" data-ng-repeat="genre in genres">
            <input type="checkbox"
              data-ng-model="options.selections[genre]"
              data-ng-value="genre" />
              {{genre}}
          </label>
        </div>
        <div class="exclusions">
          <h4>Genre(s) to Exclude:</h4>
          <label data-ng-class="{'checked': options.antiSelections[genre], 'inverse-checked': options.selections[genre]}" title="Exclude {{genre}}" data-ng-repeat="genre in genres">
            <input type="checkbox"
              data-ng-model="options.antiSelections[genre]"
              data-ng-value="genre" />
              {{genre}}
          </label>
        </div>
      </div>

      <label>
        <input type="radio"
          ng-model="options.movieType"
          value="Feature Film"
          [name="movieType"] />
        Feature Film
      </label>
      <label>
        <input type="radio"
          ng-model="options.movieType"
          value="TV Series"
          [name="movieType"] />
        TV Series
      </label>
      <br />
      <!-- TODO: Limit input to numbers -->
      Time limit: <input data-ng-model="options.timeLimit" type="text" placeholder="in minutes" />
      <br />
      Number of Choices: <select data-ng-model="options.choices" name="choices" convert-to-number>
        <option value="1"> 1 </option>
        <option value="2"> 2 </option>
        <option value="3"> 3 </option>
        <option value="4"> 4 </option>
        <option value="5"> 5 </option>
      </select>

      <div class="filter-buttons">
        <button type="submit" class="btn btn-primary">Limit</button>
        <a href="#resultsModal" class="btn btn-primary" data-toggle="modal" data-ng-click="helpMeChoose()">Help me choose!</a>
        <button class="btn btn-default" data-ng-click="clearAll()">Clear All</button>
      </div>
    </fieldset>
  </form>

<!-- TODO: Add loading state -->

  Movie List: <select data-ng-model="list" name="movieListFileName">
    <option data-ng-repeat="fileName in movieLists" value="{{fileName}}"> {{fileName}} </option>
  </select>

  <form>
    <input data-ng-model="searchfilter" type="text" placeholder="Filter by (Title or Genre)" autofocus>
  </form>

  <table class="table table-striped table-bordered">
    <caption>{{list}} ({{movieOptionList.length}})</caption>
    <thead>
      <tr>
        <th data-ng-repeat="(key,val) in movieOptionList[0]" data-ng-if="columns[key] == true" ng-click="order(key)">{{key}}
          <span class="sortorder" ng-show="predicate == key" ng-class="{reverse: !reverse}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="movie in movieOptionList | orderBy:predicate:reverse | filter:searchfilter track by $index">
        <td data-ng-repeat="(key,val) in movie" data-ng-if="columns[key] == true">{{val}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Modal HTML -->
  <div id="resultsModal" class="modal fade">
    <div class="modal-dialog" data-ng-class="{'one-option': movieChoices.length == 1, 'two-options': movieChoices.length == 2, 'three-options': movieChoices.length == 3,'four-options': movieChoices.length == 4, 'five-options': movieChoices.length == 5}">
      <div class="modal-content">
        <form data-ng-submit="helpMeChoose()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Here you go, you indecisive people!</h4>
          </div>
          <div class="modal-body">
            <div class="movie-options" data-ng-if="movieChoices">
              <div class="movie-wrapper" data-ng-repeat="movie in movieChoices track by $index">
                <div class="image-wrapper" data-ng-click="removeOption($index)" title="Remove this option">
                  <img class="placeholder" ng-src="assets/img/no-image.png" data-ng-if="movieDetailsloading" />
                  <img data-ng-src="{{movie.poster}}" data-ng-if="!movieDetailsloading" />
                </div>
                <h4 data-ng-if="movie.Title">{{movie.Title}}</h4>
                <p data-ng-if="movie['Runtime (mins)']">{{movie["Runtime (mins)"]}} minutes</p>
                <p class="small" data-ng-if="movie.plot">{{movie.plot}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Try again!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
